* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body, a {
  color: rgb(30,30,30);
}

body {
  background-color: rgba(253,253,253,1.0);

}

a {
  text-decoration: none;
}

.col-width-lock {
  max-width: 750px;
}

.col-width-lock-index {
  max-width: 550px;
}

/* font classes */

.font-author {
  color: rgb(160,160,160);
  font-style: normal;
  font-weight: 400;
  white-space: nowrap;
}

.font-body {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 2.2rem;
  font-weight: 400;
  font-style: normal;
}

.font-blog-date {
  color: rgb(160,160,160);
  font-family: "Alegreya Sans", sans-serif;
  font-style: normal;
  font-size: 1.9rem;
  font-weight: 400;
  white-space: nowrap;
}

.font-brand {
  color: rgb(30,30,30);
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 1.9rem;
  font-weight: 500;
  letter-spacing: 1px;
}

.font-head {
  font-size: 4.2rem;
  font-family: "Alegreya Sans", serif;
  font-weight: 500;
  font-style: normal;
}

.font-nav-text {
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 1.9rem;
  font-weight: 500;
}

.font-post {
  font-family: "Alegreya", serif;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.85;
}

.jumptarget::before {
  content:"";
  display:block;
  height: 40px; /* fixed header height*/
  margin: -40px 0 0; /* negative fixed header height */
}

/* Hover and pseudo states */

.blog-post-link:hover {
  color: rgb(30,30,30);
  text-decoration: underline;
}

/* positioning and layout classes */

.repo-link {
  font-weight: 400;
}

.repo-link:hover {
  color: rgba(30,30,30,1.0);
  text-decoration: underline;
}

.repo-left, .repo-mid {
  border-right: 1px solid rgb(235,235,235);
  padding-right: 10px;
}

.repo-mid, .repo-right {
  padding-left: 10px;
}

.style-about {
  line-height: 1.25;
}

.style-blog-date {
  margin-bottom: 25px;
}

.style-body {
  padding-top: 0;
  padding-bottom: 0;
  line-height: 1.2;
}

.style-body > div {
  margin-bottom: 10px;
}

.style-body-index {
  line-height: 1.7;
  padding-bottom: 20px;
}

.style-brand {
  text-decoration: none;
  border-bottom: 2px solid rgba(253,253,253,1.0);
  line-height: 1;
  padding-bottom: 2px;
  padding-top: 2px;
}

.style-brand:hover {
  color: rgba(30,30,30,1.0);
  border-bottom: 2px solid rgb(30,30,30);
  text-decoration: none;
}

.style-footer {
  height: 200px;
  margin-top: 20px;
}

.style-head {
  padding-top: 20px;
  margin-bottom: 15px;
}

.style-nav {
  padding-right: 5vw;
  padding-left: 5vw;
}

.style-nav-blog {
  margin-right: 20px;
  display: inline-block;
}

.style-nav-text {
  padding-bottom: 2px;
  padding-top: 2px;
  line-height: 1;
  border-bottom: 2px solid rgba(253,253,253,1.0);
}

.style-nav-text:hover {
  text-decoration: none;
  color: rgba(30,30,30,1.0);
  border-bottom: 2px solid rgb(30,30,30);
}

.style-shelf-head {
  border-bottom: 1px solid rgb(235,235,235);
  margin-top: 10px;
  margin-bottom: 6px;
  line-height: 1.1;
  padding-bottom: 3px;
}

.style-shelf-links {
  z-index: 100;
}

.style-title {
  line-height: 1.2;
}

.style-top-index {
  margin-top: 90px;
  margin-bottom: 60px;
}

/* Miscellaneous classes, one-offs for specific purposes */

.top-container {
  margin-top: 50px;
}

@media only screen and (max-width: 415px) {

  .font-body {
    font-size: 1.9rem;
  }

  .font-head {
    font-size: 3.8rem;
  }

  .font-nav-text {
    font-size: 1.8rem;
  }

  .font-brand {
    font-size: 1.8rem;
  }

  .font-post {
    font-size: 1.9rem;
    line-height: 1.5;
  }

  .top-container {
    margin-top: 30px;
  }

  .style-nav {
    padding-right: 6vw;
    padding-left: 6vw;
  }
}

@media only screen and (max-width: 375px) {

  .font-head {
    font-size: 3.4rem;
  }
